body {
  background-color: #cce;
}


li {
  font-size: 30px; 
}

#grid {
  border: 5px solid black;
}

.tile {
  height: 100px;
  width: 100px;
  margin: 1px;
  display: inline-block;
  border: 1px solid black;
  background-color: grey;
}