* {
  margin: 0;
  padding: 0;
}

#grid {
  border: solid black;
  display: inline-block;
}

.tile {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: solid black;
  background-color: grey;
}