body {
  background-color: #cce;
  margin: 0;
  padding: 0;
}

#grid {
  border: 5px solid black;
  display: inline-block;
  margin: 0px;
}

.tile {
  height: 100px;
  width: 100px;
  margin: 0px;
  display: inline-block;
  border: 1px solid black;
  background-color: grey;
}